.contactForm {
  padding: 60px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 20px 0;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
}

.formContainer {
  width: 100%;
  max-width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.label {
  margin-bottom: 5px;
  text-align: left;
}

.input,
.textarea,
.button {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid transparent;
  margin-bottom: 10px;
  width: 100%;
  transition: all 0.3s ease;
  background: #eaeaea;
  color: #000000;
}

.textarea {
  height: 150px;
}

.inputError,
.textareaError {
  border-color: red;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.button {
  background-color: #0055a5;
  color: white;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #003d80;
  transform: scale(1.05);
}

/* Media query para pantallas móviles */
@media (max-width: 768px) {
  .contactForm {
    padding: 20px;
    margin-top: 6rem;
  }

  .title {
    font-size: 20px;
  }
}
