.interests {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  background-color: #f3f3f3;
  border-radius: 10px;
  margin: 20px 0;
  margin-top: 4rem;
  color: #000000;
  text-align: center;
}

.title {
  margin-bottom: 20px;
  font-size: 36px;
  text-align: center; /* Centra el título en todas las pantallas */
}

.group {
  display: flex;
  flex-direction: column; /* Muestra las cajas de intereses en columnas */
  align-items: center; /* Centra las cajas de intereses horizontalmente */
  gap: 10px;
  width: 100%;
}

.item {
  border: solid 2px #000000;
  margin: 2px;
  padding: 6px;
  width: 100%; /* Las cajas de intereses ocupan todo el ancho */
  max-width: 300px; /* Tamaño máximo de cada caja */
  text-align: center;
}

.profilePic {
  width: 400px;
  height: auto;
  border-radius: 10px;
  margin-top: 20px; /* Añade un margen superior para separar la imagen del contenido anterior */
}

/* Media query para pantallas móviles */
@media (max-width: 768px) {
  .interests {
    padding: 20px;
    margin-top: 6rem;
  }

  .profilePic {
    width: 100%;
    max-width: 300px;
  }

  .title {
    font-size: 24px;
  }
}
