.interests {
  padding: 60px;
  background: linear-gradient(to bottom, #000000, #333333, #f0f0f0);
  border-radius: 10px;
  margin: 20px 0;
  margin-top: 4rem;
  color: white;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  margin-bottom: 20px;
  font-size: 36px;
}

.interests ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.interests li {
  margin: 10px 0;
  font-size: 18px;
}

/* Media query para pantallas móviles */
@media (max-width: 768px) {
  .interests {
    padding: 20px;
    margin-top: 12rem;
  }

  .title {
    font-size: 24px;
  }

  .interests li {
    font-size: 16px;
  }
}
